<div class="inventables-navbar-container" id="inventables-nav-outer">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <ul class="nav nav-pills pull-left top-nav">
        <li>
          <a href="https://www.inventables.com" data-auto-route="true">
            <img
              id="site-logo"
              class="logo-big"
              src="https://d2rhdy377k7eul.cloudfront.net/assets/shared/rebranding-inventables-logo-3007d3ef0bd3650e6dd865dfc8c3d211.svg"
              alt="Inventables"
            />
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav nav-pills ml-auto" id="flagship-nav">
        <li>
          <a href="https://www.inventables.com/technologies/x-carve">X-Carve</a>
        </li>
        <li>
          <a href="https://www.inventables.com/technologies/carvey">Carvey</a>
        </li>
        <li>
          <a href="https://www.inventables.com/technologies/easel">Easel</a>
        </li>
        <li><a href="https://www.inventables.com/projects">Projects</a></li>
        <li><a href="https://www.inventables.com/forum">Forum</a></li>
        <li><a href="https://inventables.desk.com">Support</a></li>
        <li>
          <a
            href="https://github.com/inventables/x-carve-instructions"
            class="github-link"
            ><i class="fa fa-code-fork"></i>Contribute to these instructions!</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
