<div class="inventables-navbar-container" id="inventables-nav-outer">
    <div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav nav-pills pull-left">
            <li>
                <a href="https://www.inventables.com" data-auto-route="true">
                    <img id="site-logo" class="logo-big" src="https://d2rhdy377k7eul.cloudfront.net/assets/homepage/logo-f997dddff77e178e630cf2834ea89aae.png" alt="Inventables">
                </a>
            </li>
        </ul>
        <ul id="inventables-navbar" class="nav navbar-nav navbar-right nav-pills pull-right">
        </ul>
        <ul class="nav navbar-nav nav-pills pull-left" id="flagship-nav">
          <li><a href="https://www.inventables.com/technologies/x-carve">X-Carve</a></li>
          <li><a href="https://www.inventables.com/technologies/carvey">Carvey</a></li>
          <li><a href="https://www.inventables.com/technologies/easel">Easel</a></li>
          <li><a href="https://www.inventables.com/projects">Projects</a></li>
          <li><a href="https://www.inventables.com/forum">Forum</a></li>
        </ul>
    </nav>
    </div>
</div>

<div class="inventables-navbar-container" id="inventables-category-outer" style="display:none;">
    <div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav nav-pills pull-left">
            <li><a href="https://www.inventables.com/categories/materials">Materials</a></li>
            <li><a href="https://www.inventables.com/categories/machines">Machines</a></li>
            <li><a href="https://www.inventables.com/categories/machine-components">Machine Components</a></li>
            <li><a href="https://www.inventables.com/categories/bits-tools">Bits &amp; Tools</a></li>
            <li><a href="https://www.inventables.com/categories/fastening">Fastening</a></li>
            <li><a href="https://www.inventables.com/categories/electrical">Electrical</a></li>
            <li><a href="https://www.inventables.com/categories/molding">Molding</a></li>
            <li><a href="https://www.inventables.com/categories/inspirational">Inspirational</a></li>
        </ul>
    </nav>
    </div>
</div>
<script>
    $(function() {
        $.ajax({
            method: "GET",
            url: "https://www.inventables.com/nav_bar",
            xhrFields: {
                withCredentials: true
            }
        }).done(function(d) {
            $("#inventables-navbar").empty().append(d).find("a").each(function() {
              $(this).attr("href", "https://www.inventables.com" + $(this).attr('href'));
            });
            if (Discourse.User._current) {
                var preferencesUrl = "/users/" + Discourse.User._current.username + "/preferences";
                if ($("#logout-divider").length > 0) {
                    $("#logout-divider").before("<li><a href='" + preferencesUrl + "'>Forum Preferences</a></li>");
                } else {
                    window.location = "/session/sso?return_path=" + encodeURIComponent(window.location.pathname);
                }
            } else {
                if ($("#logout-divider").length > 0) {
                     window.location = "/session/sso?return_path=" + encodeURIComponent(window.location.pathname);
                }
            }
        });
    });
</script>
