<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{{ "/js/sticky.js"| prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.colorbox-min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/lightbox.js"| prepend: site.baseurl }}"></script>
<script src="{{ "/js/smooth-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/sidebar.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/expand-icons.js" | prepend: site.baseurl }}"></script>
<script>
  // redirect to the canonical url if you happen upon the github project page url
  var githubBaseUrl = 'inventables.github.io/x-carve-instructions'
    , inventablesBaseUrl = 'x-carve-instructions.inventables.com'
    , currentUrl = window.location.href;
  
  if (currentUrl.indexOf(githubBaseUrl) !== -1) {
    window.location = currentUrl.replace(githubBaseUrl, inventablesBaseUrl);
  }
  
  $(function() {
    smoothScroll.init();
  });
</script>
