<ul>
  <li><a href="{{ site.baseurl }}/1000mm/">Welcome!</a></li>
  {% for item in site.data.navigation.stepnav %}
  <li
    class="nav-item dropdown show{% if page.parent == item.title %}active{% endif %}"
  >
    {% if item.subnav %}
    <a
      href="#"
      id="step-drop-btn"
      class="dropdown-toggle"
      data-toggle="dropdown"
      >{{ item.title }}</a
    >
    <ol class="step-nav dropdown-menu" aria-labelledby="step-drop-btn">
      {% for subitem in item.subnav %}
      <a href="/1000mm{{ subitem.url | prepend: item.url }}">
        <li>{{ subitem.title }}</li>
      </a>
      {% endfor %}
    </ol>
    {% else %} <a href="/1000mm{{ item.url }}">{{ item.title }}</a> {% endif %}
  </li>
  {% endfor %}
</ul>
