<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand instructions-menu-label" href="#">Instructions</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="sidebar">
      <li class="nav-item"><a href="{{ site.baseurl }}/1000mm/" {% if page.url == '/1000mm/' %}class="active"{% endif %}>Welcome!</a></li>
      {% for item in site.data.navigation.stepnav %}
      <li class="nav-item {% if page.parent == item.title %}active{% endif %}">
          {% if item.subnav %}
          <a href="#{{item.step}}" id="step-drop-btn" data-toggle="collapse">
          {{ item.title }} &nbsp;<i class="fa fa-caret-down"></i>
        </a>
        <ol class="collapse {% if page.parent == item.title %}show{% endif %}" id="{{item.step}}">
          {% for subitem in item.subnav %}
            {% assign url = subitem.url | prepend: item.url | prepend: "/1000mm" %}
          <a href={{url}} {% if page.url == url %}class="active"{% endif %}>
            <li class="subnav-item">{{ subitem.title }}</li>
          </a>
          {% endfor %}
        </ol>
        {% else %}
          {% assign url = item.url | prepend: "/1000mm" %}
          <a {% if page.url == url %}class="active"{% endif %} href="/1000mm{{ item.url }}">{{ item.title }}</a> 
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>