<ul class="nav">
  {% for item in site.data.navigation.stepnav %}
  <li class="nav-item">
    <a {% if page.url == item.url %}class="active"{% endif %} href="{{ item.url }}">{{ item.title }}</a>
<!--     {% if page.url == item.url %}
      {% if item.subnav %}
        <ul class="sub-nav">
          {% for subitem in item.subnav %}
            <li><a href="{{ subitem.url }}" {% if page.url == subitem.url %}class="active"{% endif %}>{{ subitem.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %} -->
  </li>
  {% endfor %}
</ul>
