{% for item in site.data.navigation.stepnav %}
{% if page.url == item.url %}
{% if item.subnav %}
<div id="subnav">
  <ol class="nav subnav">
    <h4>Steps in this section:</h4>
    {% for subitem in item.subnav %}
    <li><a data-scroll href="{{ subitem.url }}">{{ subitem.title }}</a></li>
    {% endfor %}
    <li class="return-top"><a data-scroll href="#"><i class="fa fa-arrow-up"></i>Return to top</a></li>
  </ol>
</div>
{% endif %}
{% endif %}
{% endfor %}

{% for item in site.data.navigation.accessories %}
{% if page.url == item.url %}
{% if item.subnav %}
<div id="subnav">
  <ol class="nav subnav">
    <h4>Steps in this section:</h4>
    {% for subitem in item.subnav %}
    <li><a data-scroll href="{{ subitem.url | prepend: site.baseurl }}">{{ subitem.title }}</a></li>
    {% endfor %}
    <li class="return-top"><a data-scroll href="#"><i class="fa fa-arrow-up"></i>Return to top</a></li>
  </ol>
</div>
{% endif %}
{% endif %}
{% endfor %}

{% for item in site.data.navigation.x_controller %}
{% if page.url == item.url %}
{% if item.subnav %}
<div id="subnav">
  <ol class="nav subnav">
    <h4>X-Controller Steps:</h4>
    {% for subitem in item.subnav %}
    <li><a data-scroll href="{{ subitem.url }}">{{ subitem.title }}</a></li>
    {% endfor %}
    <li class="return-top"><a data-scroll href="#"><i class="fa fa-arrow-up"></i>Return to top</a></li>
  </ol>
</div>
{% endif %}
{% endif %}
{% endfor %}

{% for item in site.data.navigation.x_controller_usage %}
{% if page.url == item.url %}
{% if item.subnav %}
<div id="subnav">
  <ol class="nav subnav">
    <h4>X-Controller Usage:</h4>
    {% for subitem in item.subnav %}
    <li><a data-scroll href="{{ subitem.url }}">{{ subitem.title }}</a></li>
    {% endfor %}
    <li class="return-top"><a data-scroll href="#"><i class="fa fa-arrow-up"></i>Return to top</a></li>
  </ol>
</div>
{% endif %}
{% endif %}
{% endfor %}