#motor-accordion {
  .panel-heading {
    background: #cc3440;
    color: #fff;
  }
}

#drag-chain-accordion {
  .panel-heading {
    background: #8a52a1;
    color: #fff;
  }
}

#wiring-accordion {
  .panel-heading {
    background: #ffcd05;
    color: #fff;
  }
}

#limit-switch-accordion {
  .panel-heading {
    background: #9d9fa2;
    color: #fff;
  }
}

#drive-rod-accordion {
  .panel-heading {
    color:#fff;
    background: #6b4e40;
  }
}

#work-area-accordion {
  .panel-heading {
    color: #fff;
    background: #666;
  }
}

#spindle-accordion {
  .panel-heading {
    color: #fff;
    background: #42a44e;
  }
}

.step-text img {
  border: 1px solid transparent;
  transition: border-color 0.5s ease;

  &:hover {
    border-color: #4990e2;
    cursor: pointer;
  }
}

.note {
  background: #d0e3f8;
  padding: 14px 20px;
  margin-bottom: 15px;

  i {
    display: inline-block;
    font-size: 36px;
  }

  .note-text {
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    width: 86%;
    padding-left: 20px;
    vertical-align: top;

    @media (max-width: 400px) {
      width: 72%;
    }
  }
}

.btn-next {
  margin-top: 14px;
}

.btn-invent {
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 16px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  background: #4990E2;
  color: #fff;
  border: 2px solid #4990E2;
  text-shadow: none;
  box-shadow: none;
  padding: 12px 16px;
  font-weight: 400;
  transition: border 0.3s ease,
              color 0.3s ease,
              background 0.3s ease;
  &:hover, &:focus {
    text-decoration: none;
    color: #4990E2;
    border-color: #4990E2;
    background: #FFF;
    opacity: 1;
  }
}

.btn-animate-arrow {
  &:after {
    content: "\279E";
    opacity: 0;
    transition: opacity 0.3s,
                margin 0.3s;
    padding: 0;
    margin-left: -1em;
  }
  &:hover:after {
    opacity: 1;
    margin-left: 0.3em;
    content: "\279E";
  }
}

@media (max-width:1220px) {
  iframe {
    width: 100%;
  }
}

.panel-heading {
  position: relative;
}

.expand-icons {
  position: absolute;
  right: 20px;
  top: 5px;

  .fa-plus, .fa-minus {
    transition: display .5s ease;
  }

  .fa-minus {
    display: none;
  }
}

.vertical-img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.callout {
  border: 1px solid #c8c8c8;
  background: #e6f0fb;
  padding: 10px;
  display: inline-block;
  margin-bottom: 16px;

  span {
    font-size: 70%;
    display: block;
  }
}