#motor-accordion {
  .panel-heading {
    background: #cc3440;
    color: #fff;
  }
}

#drag-chain-accordion {
  .panel-heading {
    background: #8a52a1;
    color: #fff;
  }
}

#wiring-accordion {
  .panel-heading {
    background: #ffcd05;
    color: #fff;
  }
}

#limit-switch-accordion {
  .panel-heading {
    background: #9d9fa2;
    color: #fff;
  }
}

.step-by-step-nav {
  a {
    font-size: 12px;
    border-bottom: none;
    display: inline-block;

    &:first-of-type {
      margin-right: 12px;
    }
  }
}