#motor-accordion {
  .panel-heading {
    background: #cc3440;
    color: #fff;
  }
}

#drag-chain-accordion {
  .panel-heading {
    background: #8a52a1;
    color: #fff;
  }
}

#wiring-accordion {
  .panel-heading {
    background: #ffcd05;
    color: #fff;
  }
}

#limit-switch-accordion {
  .panel-heading {
    background: #9d9fa2;
    color: #fff;
  }
}

#drive-rod-accordion {
  .panel-heading {
    color:#fff;
    background: #6b4e40;
  }
}

.paginate-buttons {
  padding-top: 14px;

  a {
    font-size: 14px;
    border-bottom: none;
    display: inline-block;

    i {
      padding: 0 2px;
    }

    &:first-of-type {
      margin-right: 12px;
    }
  }
}

.step-text img {
  border: 1px solid transparent;
  transition: border-color 0.5s ease;

  &:hover {
    border-color: #4990e2;
    cursor: pointer;
  }
}

.note {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: #d0e3f8;
  padding: 10px;
}
