.page-content {
  padding: 30px 50px;
}

.step-title {
  margin-bottom: 6px;
  color: #222 !important;
}

.time-estimate {
  color: #888;
  font-size: 14px !important;

  i {
    margin-right: 6px;
    font-size: 22px !important;
    position: relative;
    top: 3px;
  }
}

.step-title {
  font-size: 50px;
}

.step-text {
  margin-top: 14px;
  color: #555 !important;

  h3 {
    margin: 20px 0;
    width: 100%;
    background: #eee;
    padding: 10px;
  }
}

table {
  font-size: 16px;
  line-height: 130%;
  border-collapse: collapse;
  box-shadow: 1px 1px 2px rgba(0,0,0,.2);
  margin-bottom: 10px;

  td {
    padding: 5px 10px;
    border-collapse: collapse;
    border: 1px solid #c8c8c8;
  }

  tr:first-of-type > td {
    padding: 10px;
    border-right: none;
  }
}

.grabcad-link {
  position: relative;
  display: inline-block;
  padding: 4px 12px;
  font-size: 14px;
  border-radius: 2px;
  background: #4990e2;
  color: #fff;
  border: 2px solid #4990e2;
  margin-right: 20px;
  margin-top: 8px;
  transition: background .3s ease,
              color .3s ease;

  &:hover, &:focus, &:active {
    background: #fff;
    color: #4990e2;
    opacity: 1;
  }
}
