html, body {
    font-family: 'Open Sans';
}

header {
    box-shadow: none !important;
    border-bottom: 1px solid #eee;
    padding-bottom: 0;
    padding-bottom: 14px;
}

.navbar-default {
  background: none;
  border: none;
  border-radius: none;
  margin-bottom: 0;
}

.search-container {
    display: none;
}

.inventables-navbar-container {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    padding: 15px 0 5px;
    background-color: #F5F5F5;
    z-index: 100000;
    margin-bottom: 1px;
    z-index: 999;
}
.inventables-navbar-container a {
    color: #3399CB !important;
    font-size: 15px;
    font-weight: 600;
    background: transparent !important;
}
.inventables-navbar-container .active a {
    color: #FFF;
}
.inventables-navbar-container .nav-pills.pull-left > li:first-of-type > a {
    padding-left: 0 !important;
}
.inventables-navbar-container .nav-pills.pull-right > li:last-of-type > a {
    padding-right: 0 !important;
}

#site-text-logo {
    font-size: 2em;
    font-weight: 500;
    color: #333;
    line-height: normal;
}
.inventables-navbar-container .invent-collapse-nav {
    margin-top: -2px !important;
    margin-bottom: -5px;
    margin-left: 10px;
}
.inventables-navbar-container .invent-collapse-nav > li {
    display:inline;
}
.inventables-navbar-container .invent-collapse-nav .nav-collapse > ul > li {
    display:inline-block;
    margin-left: 15px;
}
.inventables-navbar-container .invent-collapse-nav .nav-collapse > ul > li:first-of-type {
    margin-left: -5px;
}
.inventables-navbar-container a[data-toggle="collapse"] {
    display: none;
}
.inventables-navbar-container .circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #3399CB;
    color: #fff!important;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    font-size: .8em;
    margin-top: -4px;
    margin-bottom: -3px;
    margin-left: 5px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}

.inventables-navbar-container .nav-collapse.collapse > li {
    display: inline-block;
}

.inventables-navbar-container .dropdown-menu {
    z-index: 10000;
    top: 150%;
    bottom: auto;
    width: auto;
    min-width: 180px;
    right: -5px;
    left: auto;
    background-color: #ffffff;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.2);
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
box-shadow: 0 5px 10px rgba(0,0,0,0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
padding-top: 10px;
padding-bottom: 10px;
}
.inventables-navbar-container .dropdown-menu:before {
position: absolute;
top: -7px;
left: 9px;
display: inline-block;
border-right: 7px solid transparent;
border-bottom: 7px solid #ccc;
border-left: 7px solid transparent;
border-bottom-color: rgba(0,0,0,0.2);
content: '';
    right: 13px;
    left: auto;
}
.inventables-navbar-container .dropdown-menu:after {
position: absolute;
top: -6px;
left: 10px;
display: inline-block;
border-right: 6px solid transparent;
border-bottom: 6px solid #fff;
border-left: 6px solid transparent;
content: '';
    right: 14px;
    left: auto;
}


.inventables-navbar-container .dropdown-menu > li > a {
    font-family: 'Open Sans';
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333 !important;
    white-space: nowrap;
    line-height: 20px;
}
.inventables-navbar-container .dropdown-menu > li > a:hover {
    color: #ffffff !important;
    text-decoration: none;
    background-color: #0081c2 !important;
    transition: all 0.1s;
}

.inventables-navbar-container li.divider {
height: 1px;
margin: 9px 1px;
overflow: hidden;
background-color: #e5e5e5;
border-bottom: 1px solid #fff;
}

#current-user {
    display: none;
}

.ember-view.login-button[title='Log In'] {
    display: none;
}

#cart-menu-item {
    margin-right: 10px;
}

.nav-icon {
  width: 22px;
  height: 22px;
  transition: opacity .3s ease;
}

.nav-icon:hover {
  opacity:.7;
}

.admin-icon {
  width: 28px;
}

.count-badge {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  line-height: 22px;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  text-align: center;
  top: 0;
  right: -6px;
  color: #fff;
}

.badge-cart {
  background: #4990E2;
}

.badge-notify {
  background: #DF534F;
}

.user-nav {
  margin-top: -3px !important;
}

.user-nav-item {
  position: relative;
  padding: 10px;
}

.user-account-dropdown {
  padding: 6px 10px;
  line-height: 32px;
}

.user-nav-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 4px;
  margin-top: -3px;
  border: 1px solid #c8c8c8;
}

.dropdown-notify {
  padding: 5px 8px;
  top: 132%;
  left: 4px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle {
  background: none !important;
}

.inventables-navbar-container .dropdown-toggle {
    float: none;
}

#inventables-category-outer {
  padding: 11px 20px 3px;
  font-size: 13px;
}
#inventables-category-outer li {
    margin-right: 14px;
}

#inventables-category-outer li a {
      color: #676767 !important;
}
#inventables-category-outer li:hover a {
      color: #4990E2 !important;
}
.alert-s3-deprecation {
    display: none;
}
.badge-wrapper {
    font-weight: normal;
}

// Hide search icon
#inventables-navbar li.user-nav-item:first-of-type {
    display:none;
}
#flagship-nav li a {
    font-weight: 400 !important;
    text-transform: uppercase;
    color: #666 !important;
    margin-top: 2px;
    margin-right: 5px;
    letter-spacing: 2px;
    font-size: 13px;
}
#flagship-nav li:last-of-type a {
    margin-right: 0;
}

#flagship-nav {
    margin-left: 10px;
}
#flagship-nav li a:hover {
    background: transparent !important;
    color: #4990e2 !important;
}
#flagship-nav li {
    border-right: 1px solid #eee;
}
#flagship-nav li:last-of-type {
    border-right: none;
}
@media (max-width: 960px) {
    #flagship-nav {
        margin-left: 5px;
    }
    #flagship-nav li a {
        margin-right: 3px;
        font-size: 12px;
    }
}
@media (max-width: 820px) {
    #flagship-nav {
        clear: left;
        margin-left: 0;
    }
}
