.sidebar {
  padding-top: 30px;
  border-right: 1px solid #c8c8c8;
  width: 180px;
  float: left;

  .nav {
    margin-left: 0;

    .nav-item a.active {
      color: #4990e2;
    }

    & > li > a {
      color: #383838;
      border-bottom: 1px solid transparent;
      font-size: 16px;
      padding: 5px 5px 5px 0;

      &:hover, &:focus {
        background: none;
        border-bottom: 1px solid #eee;
      }
    }
  }
}

.sidebar-container {
  width: 180px;
  float: left;
  height: 1px;
}

.sidebar.affix {
  position: fixed;
  top: 0;
}

.subnav-container {
  float: right;
  height: 1px;
  width: 200px;
}

.subnav.affix {
  position: fixed;
  top: 0;
}

#subnav {
  padding-left: 30px;
  padding-top: 20px;
  width: 200px;
  border-left: 1px solid #c8c8c8;
}

#subnav.affix {
  position: fixed;
  top: 0;
}

.subnav {
  list-style-position: inside !important;
  list-style: decimal;
  font-size: 12px;
  color: #999;
  width: 200px;
  line-height: 24px;

  h4 {
    margin-bottom: 0px;
    color: #222;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    padding-bottom: 4px;
  }

  & > li {
    display: list-item;

    &:hover {
      background: none;
    }
  }

  & > li > a {
    color: #999;
    border-bottom: 1px solid transparent;
    display: inline;
    padding: 0;

    &:hover {
      background: none;
      color: #4990e2;
      border-bottom: 1px solid #4990e2;
      opacity: 1;
    }
  }

  & > li.active > a {
    color: #4990e2;
    border-bottom: 1px solid #4990e2;
  }
}
