#hamburger {
  display: none;
  text-decoration: none !important;
  border-bottom: none !important;
  font-size: 30px;
  margin-top: 14px;
  margin-bottom: 14px;
  background: #4990e2;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;

  i {
    color: #fff !important;
  }

  @media (max-width: 768px) {
    display: inline-block;
  }
}

#off-canvas-sidebar {
  font-size: 16px;
  padding: 0;

  @media (min-width: 768px) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navbar {
    padding: 0;
    @supports not (position: sticky) {
      position: fixed;
    }

    @supports (position: sticky) {
      position: -webkit-sticky;
      position: sticky;
      top: 1em;
      margin-top: 1em;
    }
  }

  .nav-item {
    margin: 10px;
    &.active,
    .active {
      color: #222;
      font-weight: 600;
    }
  }

  .subnav-item {
    margin: 5px 0;
  }

  .sidebar {
    font-weight: 400;
    list-style: none;
    max-height: calc(100vh - 7em);
    overflow-y: auto;
    width: 100%;
    @media (max-width: 767px) {
      border: 1px solid #ffa400;
    }
  }

  ol {
    list-style-position: inside;
    font-size: 14px;
    font-weight: 300;
    margin-left: 6px;
  }

  a {
    color: #555;
    border-bottom: none;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
    }
  }
}
.navbar-toggler.sidebar-toggler {
  background-color: #ffa400;
  color: white;
  border-radius: 0;
  font-size: 16px;
  flex-basis: 100%;
  justify-content: space-between;

  @media (max-width: 767px) {
    display: flex;
  }
}

.subnav-container {
  float: right;
  height: 1px;
  width: 200px;

  @media (max-width: 830px) {
    display: none;
  }
}

.subnav.affix {
  position: fixed;
  top: 0;
}

#subnav {
  padding-top: 30px;
  padding-left: 10px;
  border-left: 1px solid #ddd;
}

#subnav.affix {
  position: fixed;
  top: 0;
}

.subnav {
  list-style-position: inside !important;
  list-style: decimal;
  font-size: 12px;
  color: #999;
  width: 200px;
  line-height: 24px;
  border-bottom: 1px solid #eee;

  h4 {
    margin-bottom: 0;
    color: #222;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    padding-bottom: 2px;
    display: inline;
  }

  & > li {
    display: list-item;

    &:hover {
      background: none;
    }
  }

  & > li > a {
    color: #999;
    border-bottom: 1px solid transparent;
    display: inline;
    padding: 0;

    &:hover {
      background: none;
      color: #4990e2;
      border-bottom: 1px solid #4990e2;
      opacity: 1;
    }

    &:focus {
      background: none;
    }
  }

  & > li.active {
    color: #4990e2;

    & > a {
      color: #4990e2;
      border-bottom: 1px solid #4990e2;
    }
  }

  .return-top {
    list-style: none;

    i {
      margin-right: 2px;
      margin-left: -1px;
    }
  }
}
