<div class="panel-group" id="motor-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#motor-accordion" href="#nema17" aria-expanded="false" aria-controls="nema17" class="panel-heading" role="tab" id="nema17-header">
      <h4 class="panel-title"><!-- Title --></h4>
    </a>
    <div id="nema17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nema17-header">
      <div class="panel-body">

        <!-- Content -->
        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#motor-accordion" href="#nema23" aria-expanded="false" aria-controls="nema23" class="panel-heading" role="tab" id="nema23-header">
      <h4 class="panel-title"><!-- Title --></h4>
    </a>
    <div id="nema23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nema23-header">
      <div class="panel-body">

        <!-- Content -->

      </div>
    </div>
  </div>
</div>
