<!DOCTYPE html>
<html>
  {% include head.html %}

  <body data-spy="scroll" data-target="#subnav">
    {% include header.html %}

    <div class="instructions-wrapper container-fluid">
      <div class="row">
        <div id="off-canvas-sidebar" class="col-md-2">
          {% include stepsidebar500mm.html %}
        </div>

        <div
          class="page-content js-instruction-step col-sm-12 col-md-6 pl-md-3"
        >
          <header class="post-header">
            <div class="instruction-breadcrumbs">
              <a href="{{ site.url }}">X-Carve Instructions</a> &#47;
              <a href="{{ site.baseurl }}/500mm/">500mm</a> {% if page.parent %}
              &#47; {{ page.parent }} {% endif %} &#47;
              <span class="current-page">
                {% if page.title %} {{ page.title }} {% endif %}
              </span>
            </div>
            <h1 class="step-title">{{ page.title }}</h1>

            {% if page.time-estimate %}
            <div class="time-estimate">
              <i class="fa fa-clock-o"></i>{{ page.time_estimate }} minutes
            </div>
            {% endif %} {% if page.grabcad_url1 %}
            <a class="grabcad-link" href="{{ page.grabcad_url1 }}"
              ><i class="fa fa-cube"></i> GrabCAD Model of
              {{ page.grabcad_name1 }}</a
            >
            {% if page.z-axis == true %}
            <span class="grabcad-note"
              >(You're only building part of this now)</span
            >
            {% endif %} {% endif %} {% if page.grabcad_url2 %}
            <a class="grabcad-link" href="{{ page.grabcad_url2 }}"
              ><i class="fa fa-cube"></i> GrabCAD Model of
              {{ page.grabcad_name2 }}</a
            >
            {% endif %}
          </header>
          <div class="step-text">
            {{ content }} {% include next-step.html %}
          </div>
        </div>
        <div class="col-sm-5">
          <div class="page-diagram">
            {% if page.diagram %}
            <img src="{{ page.diagram | prepend: site.baseurl }}" /> {% endif %}
            {% if page.diagram2 %}
            <img src="{{ page.diagram2 | prepend: site.baseurl }}" /> {% endif
            %}
          </div>
        </div>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
